@font-face {
    font-family: "Mamelon"; /* The name you'll use in your CSS */
    src: url(Mamelon-3.5-Hi-Regular.otf) format("opentype");
    font-weight: normal; /* Optional: Define the font weight */
    font-style: normal; /* Optional: Define the font style */
}
@font-face {
    font-family: "Baloo"; /* The name you'll use in your CSS */
    src: url(baloo.regular.ttf) format("opentype");
    font-weight: normal; /* Optional: Define the font weight */
    font-style: normal; /* Optional: Define the font style */
}
@font-face {
    font-family: "Ganh"; /* The name you'll use in your CSS */
    src: url("Ganh Type - Regular.otf") format("opentype");
    font-weight: normal; /* Optional: Define the font weight */
    font-style: normal; /* Optional: Define the font style */
}

input#date {
    font-family: "Baloo";
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
}

#card {
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#card #content {
    font-family: "Mamelon";
    text-align: center;
}

#card #pronunciation {
    font-family: "Mamelon";
    color: red;
}

#card #meaning {
    font-family: "Ganh";
}

.highlight {
    color: green;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border-color: transparent;
    font-family: "Baloo";
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#reset {
    position: absolute;
    top: 30px;
    left: 30px;
}

#count {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-family: "baloo";
    font-size: 1.2rem;
}
