#card {
    position: absolute;
    padding: 50px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    z-index: 1;
}

#card #content {
    font-family: "Mamelon";
    text-align: center;
    margin-bottom: 20px;
}

#card #pronunciation {
    font-family: "Mamelon";
    color: red;
    margin-bottom: 20px;
}

#card #meaning {
    font-family: "Ganh";
}

.highlight {
    color: green;
}

button#shuffle {
    position: absolute;
    top: 30px;
    left: 30px;
}

#count {
    position: absolute;
    left: 50%;
    bottom: 55px;
    transform: translateX(-50%);
    font-family: "baloo";
    font-size: 1.2rem;
}

#total-words {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-family: "baloo";
    font-size: 1.2rem;
}

.arrow-button {
    position: absolute;
    background-color: black;
    padding: 10px 15px;
    border-radius: 15px;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
}

#left-button {
    left: 50px;
    top: 50%;
    z-index: 2;
}

#right-button {
    right: 50px;
    top: 50%;
    z-index: 2;
}
